/*
* navbar
*/
/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 40px;
  /* border: 0px!important; */
}

#profile-background {
  border: rgba(19, 19, 19, 0.48);
}

.card-title {
  padding: 8px;
  margin-bottom: 0px;
}

.card-text {
  padding-left: 9px;
}

/* .list-group-item {
  border: 0px!important;
} */


#convostub {
  width: 40%;
  margin: 0 auto;
}

.profile-pic {
  border-radius: 50%;
 height: 35px;
 margin-left: 10px;
}
    
.main-profile-small-img {
 height: 100px;
 width: 100px;
}
    
.locals-navbar-brand {
 margin: auto;
 font-family: 'Comfortaa', cursive;
 padding: 30px;
}
    
.locals-list-navbar {
 background: #FECBC5;
}
    
.locals-media-entire {
 padding: 20px;
 width: 350px;
 margin: auto;
}


.card-img-top {
  height: 553px;
}

.crop {
  height: 250px;
  overflow: hidden;
}

.crop img {
  margin: -160px 0 0 1px;
}
 		
.navbar-brand {		
  font-family: 'Comfortaa', cursive;		
}		
 	
.main-nav {		
   width: 100%		
}	

#main-logo {
  margin-left: 8px;
  font-size: 2em;	
}
 	
.right-list {		
  list-style-type: none;		
}		
 	
.right-list-item {		
   display: inline-block;		
}		
 	
.right-logo {		
  width: 49%;		
  text-align: right;		
}		
 	
.left-logo {		
  width: 49%;	
}		
 	
.logged-in-as {		
  padding-right: 13px;		
}



/*
* list of locals page
*/

.profile-pic {		
  border-radius: 50%;		
  height: 35px;		
  margin-left: 10px;		
}		
 	
.logged-in-as {		
  padding-right: 13px;		
}

.toggle-switch {
  padding-left: 15px;
}

.toggle-switch {
  padding-left: 15px;
}

.locals-list-navbar {
  background: #FECBC5;
}

.locals-media-entire {
  padding: 20px;
  width: 350px;
  margin: auto;
}


/* 
* splash page
*/

/* padding-top: 64px; if using fixed-top navbar */
.splash-page-container {
  background-image: url("https://hello.travefy.com/wp-content/uploads/2015/01/group-travel-family-trip-planner-app-HR.jpg");
  background-size: cover;
  background-position: 50%;
  padding-top: 30px;
  height: 570px;
}

.geosuggest-column {
  padding-top: 290px;
}

.convo-stub-entire-media {
  margin: 20px;
}

.convo-profile-small-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;	
}

.convo-stub-user-name {
  margin: 0px;
  font-size: 16px;
}

.convo-stub-user-location {
  margin: 0px;
  font-size: 14px;
}

.background {
  background-image: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_large_assets/79a94a561607/assets/img/home/hero_photos/OknYaBuZZ6nD_ps2BAPGCQ.jpg)
}

.convo-stub-user-message {
  font-size: 13px;
  color: #696969;
}

.message-button-splash {
  margin-top: -70px;
}

.user-help-modal {
  margin-top: -50px;
}

/* might cause issues? */
.card {
  border: 0px !important;
}

.instructions-title {
  font-size: 17px;
}

.instructions-list {
  font-size: 14px;
}



/*
* geosuggest
* NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
*/

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}

#bio-input {

}

.form-span {
  width: 25%
}


#signup-background {
  background: transparent;
  border: rgba(19, 19, 19, 0.48);
}

#sign-up-btn {
  padding: 0px;
  background: transparent;
}

#signup-logo {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  height: 155px;
  font-size: 7em;
}

#sub-menu {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 2em;
}

.crop {
  background-color: rgba(0, 0, 0, 0.46);
  color: white;
  border-radius: 5px;

}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

.convo-stub-profile {
  display: inherit;
  width: 50%;
}


/*

CHATBOX:

*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}
.chat-thread {
  margin: 24px auto 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}
/* Chat - Avatar */
.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}
/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
}
.chat-thread .sender {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  color: #0ad5c1;
}
.chat-thread .sender:before {
  right: -80px;
}
.chat-thread .sender:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.sender-photo {
  margin-right: -100px;
  float: right;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.sender-bubble {
  display: inline;
  height: 0px;
}

.recipient-photo {
  margin-left: -65px;
  float: left;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.recipient-bubble {
  display: inline;
  height: 0px;
}


.chat-thread .recipient {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: #0ec879;
}
.chat-thread .recipient:before {
  left: -80px;
}
.chat-thread .recipient:after {
  border-left: 15px solid transparent;
  left: -15px;
}
.chat-window {
  position: fixed;
  bottom: 18px;
}
.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0ad5c1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}
/* Small screens */
@media all and (max-width: 767px) {
  .chat-thread {
    width: 90%;
    height: 260px;
  }
  .chat-window {
    left: 5%;
    width: 90%;
  }
}
/* Medium and large screens */
@media all and (min-width: 768px) {
  .chat-thread {
    width: 50%;
    height: 320px;
  }
  .chat-window {
    left: 25%;
    width: 50%;
  }
}
@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}

div[ng-view]{
  height: 100%;
}